<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
    </p>
    <mat-card-content *ngIf="data">
      <div>Results: {{ data.length }}</div>
      <table class="table">
        <tr>
          <th>
            Title
          </th>
          <th>
            URL
          </th>
          <th>
            Created at
          </th>
          <th>
            Author
          </th>
        </tr>
        <tr (click)="selectRow(i)" *ngFor="let row of data; let i = index; trackBy: i">
          <td>
            {{ row.title }}
          </td>
          <td>
            {{ row.url }}
          </td>
          <td>
            {{ row.created_at }}
          </td>

          <td>
            {{ row.author }}
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
<!-- title, url, created_at, and author -->
